h1 {
  font-size: 30px;
  background-color: #f00;
  z-index: 1000;
  color: #000;
  margin-left: 100px;
}

h5 {
  font-size: 12px;
  background-color: #f00;
  text-align: right;
  margin-left: 20px;
}

.header {
  background-color: #f1f1f1;
  padding: 20px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer {page-break-after: always;}

@media screen {
}